<?xml version="1.0" encoding="UTF-8"?>
<config>

	<fieldset name="Basic" label="COM_CUSTOMFILTERS_BASIC_SETTINGS">

		<!--
		Использовать переменные со страниц Virtuemart
		Автоматическое выделение категорий и производителей при навигации по страницам
		-->
		<field name="use_virtuemart_pages_vars" type="radio" default="1"
			class="btn-group btn-group-yesno"
			   label="COM_CUSTOMFILTERS_USE_VM_VARS_LABEL"
			description="COM_CUSTOMFILTERS_USE_VM_VARS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>


		<field name="filtered_products" type="radio" default="parent"
			class="btn-group" label="COM_CUSTOMFILTERS_FILTERED_PRODUCTS_LABEL"
			description="COM_CUSTOMFILTERS_FILTERED_PRODUCTS_DESC">
			<option value="parent">COM_CUSTOMFILTERS_PARENT_PRODUCTS</option>
			<option value="child">COM_CUSTOMFILTERS_CHILD_PRODUCTS</option>
			<option value="all">JALL</option>
		</field>

		<field name="returned_products" type="radio" default="parent"
			class="btn-group" label="COM_CUSTOMFILTERS_RETURNED_PRODUCTS_LABEL"
			description="COM_CUSTOMFILTERS_RETURNED_PRODUCTS_DESC">
			<option value="parent">COM_CUSTOMFILTERS_PARENT_PRODUCTS</option>
			<option value="child">COM_CUSTOMFILTERS_CHILD_PRODUCTS</option>
			<option value="all">JALL</option>
		</field>

		<field name="use_canonical_urls" type="radio" default="1"
			class="btn-group btn-group-yesno" label="COM_CUSTOMFILTERS_USE_CANONICAL_LABEL"
			description="COM_CUSTOMFILTERS_USE_CANONICAL_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="reset_results" type="list" default="0"
			label="COM_CUSTOMFILTERS_RESET_RESULTS_LABEL" description="COM_CUSTOMFILTERS_RESET_RESULTS_DESC">
			<option value="0">COM_CUSTOMFILTERS_NO_PRODUCT</option>
			<option value="1">COM_CUSTOMFILTERS_ALL_PRODUCTS</option>
		</field>

		<field name="products_multiple_shoppers" type="radio"
			class="btn-group btn-group-yesno" default="0"
			label="COM_CUSTOMFILTERS_PRODUCTS_MULTIPLE_SHOPPERS_LABEL"
			description="COM_CUSTOMFILTERS_PRODUCTS_MULTIPLE_SHOPPERS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="products_multiple_currencies" type="radio"
			class="btn-group btn-group-yesno" default="0"
			label="COM_CUSTOMFILTERS_PRODUCTS_MULTIPLE_CURRENCIES" description="COM_CUSTOMFILTERS_PRODUCTS_MULTIPLE_CURRENCIES_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>


	<fieldset name="Search" label="COM_CUSTOMFILTERS_SEARCH_SETTINGS"
		addfieldpath="/administrator/components/com_customfilters/models/fields">

		<field name="keyword_search_match" type="radio" default="any"
			class="btn-group btn-group-yesno" label="COM_CUSTOMFILTERS_SEARCH_MATCH_LABEL"
			description="COM_CUSTOMFILTERS_SEARCH_MATCH_DESC">
			<option value="any">COM_CUSTOMFILTERS_ANY</option>
			<option value="exact">COM_CUSTOMFILTERS_EXACT</option>
		</field>

		<!-- Очищать фильтры после нового поиска -->
		<!-- При новом поиске будут очищены все существующие фильтры -->
		<field name="keyword_search_clear_filters_on_new_search" type="radio"
			   class="btn-group btn-group-yesno"
			   default="1"
			   label="COM_CUSTOMFILTERS_CLEAR_FLT_ON_NEW_SEARCH_LABEL"
			   description="COM_CUSTOMFILTERS_CLEAR_FLT_ON_NEW_SEARCH_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<!-- Время кеширования -->
		<!-- Время (в минутах), в течение которого будут сохраниться в кеше результаты каждого поискового запроса -->
		<field name="cache_time" type="input" size="5" default="5"
			label="COM_CUSTOMFILTERS_CACHE_LABEL" description="COM_CUSTOMFILTERS_CACHE_DESC" />

		<!-- Искать в полях -->
		<field name="keyword_searchfield"
			   type="searchfields"
			   label="COM_CUSTOMFILTERS_SEARCH_SEARCHFIELDS"/>
	</fieldset>


	<fieldset name="Filtering" label="COM_CUSTOMFILTERS_FLT_SETTINGS"
		description="COM_CUSTOMFILTERS_FLT_SETTINGS_DESC">

		<field name="used_cf" type="checkboxes" label="COM_CUSTOMFILTERS_USED_CF_LABEL"
			description="COM_CUSTOMFILTERS_USED_CF_DESC">
			<option value="S">CF_STRING</option>
			<option value="I">CF_INTEGER</option>
			<option value="B">CF_BOOLEAN</option>
			<option value="D">CF_DATE</option>
			<option value="T">CF_TIME</option>
			<option value="V">CF_CART_VARIANT</option>
			<option value="E">CF_PLUGIN</option>
		</field>
	</fieldset>

	<fieldset name="Seo_setting" label="COM_CUSTOMFILTERS_SEO_SETTING"
			  description="COM_CUSTOMFILTERS_SEO_SETTING_DESC">
		<field name="max_count_filters_no_index"
			type="number"
			default="3"
			min="0"
			max="10" 
			step="1"
			class="max_count_filters_no_index "
			size="20"
			readonly=""
			required=""
			label="CONFIG_MAX_COUNT_FILTERS_NO_INDEX"
			description="CONFIG_MAX_COUNT_FILTERS_NO_INDEX_DESC"
			showon=""
			hint=""
			filter="raw" />

		<field name="limit_filter_no_index"
			type="number"
			default="2"
			min="1"
			max="10" 
			step="1"
			class="limit_filter_no_index "
			size="20"
			readonly=""
			required=""
			label="CONFIG_LIMIT_FILTER_NO_INDEX"
			description="CONFIG_LIMIT_FILTER_NO_INDEX_DESC"
			showon=""
			hint=""
			filter="raw" />
		<field name="action_noindex"
			type="list"
			default="noindex,nofollow"
			required=""
			label="CONFIG_ACTION_NOINDEX"
			description="CONFIG_ACTION_NOINDEX_DESC"
			class="action_noindex "
			multiple="false"
			readonly=""
			showon=""
			filter="raw" >
				<option value="noindex,nofollow">noindex,nofollow</option>
				<option value="noindex,follow">noindex,follow</option>
			</field>

		<field name="on_show_children_category"
			type="radio"
			default="1"
			readonly="0"
			label="CONFIG_ON_SHOW_CHILDREN_CATEGORY"
			description="CONFIG_ON_SHOW_CHILDREN_CATEGORY_DESC"
			class="btn-group btn-group-yesno"
			showon=""
			 
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<!-- Отображать описание категории -->
		<field name="on_description_vm_category"
			   type="list"
			   default=""
			   required=""
			   label="CONFIG_ON_DESCRIPTION_VM_CATEGORY"
			   description="CONFIG_ON_DESCRIPTION_VM_CATEGORY_DESC"
			   class="on_description_vm_category "
			   multiple="0"
			   readonly=""
			   showon=""
			   filter="raw">
			<option value="">Please Select</option>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			<option value="2">CONFIG_ON_DESCRIPTION_VM_CATEGORY_GENERATE</option>
		</field>




		<!--<field name="on_description_vm_category"
			type="radio"
			default="1"
			readonly="0"
			label="CONFIG_ON_DESCRIPTION_VM_CATEGORY"
			description="CONFIG_ON_DESCRIPTION_VM_CATEGORY_DESC"
			class="btn-group btn-group-yesno"
			showon=""
			 
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>-->

		<field name="default_h1_tag"
			type="textarea"
			default="{{CATEGORY_NAME}} - {{FILTER_VALUE_LIST}}"
			class="default_h1_tag "
			rows="5"
			cols="4"
			readonly=""
			required=""
			label="CONFIG_DEFAULT_H_1_TAG"
			description="CONFIG_DEFAULT_H_1_TAG_DESC"
			showon=""
			hint=""
			filter="raw" />

		<field name="default_title"
			   type="textarea"
			   default="{{CATEGORY_NAME}} {{FILTER_VALUE_LIST}}"
			   label="COM_CUSTOMFILTERS_SEO_SETTING_DEFAULT_TITLE"
			   description="COM_CUSTOMFILTERS_SEO_SETTING_DEFAULT_TITLE_DESC"
			   rows="10"
			   cols="5"
			   filter="raw"
		/>
		<field name="default_description"
			   type="textarea"
			   default="{{CATEGORY_NAME}} {{FILTER_VALUE_LIST}}"
			   label="COM_CUSTOMFILTERS_SEO_SETTING_DEFAULT_DESCRIPTION"
			   description="COM_CUSTOMFILTERS_SEO_SETTING_DEFAULT_DESCRIPTION_DESC"
			   rows="10"
			   cols="5"
			   filter="raw"
		/>
		<field name="default_keywords"
			   default="{{CATEGORY_NAME}} {{FILTER_VALUE_LIST}}"
			   type="textarea"
			   label="COM_CUSTOMFILTERS_SEO_SETTING_DEFAULT_KEYWORDS"
			   description="COM_CUSTOMFILTERS_SEO_SETTING_DEFAULT_KEYWORDS_DESC"
			   rows="10"
			   cols="5"
			   filter="raw"
		/>

	</fieldset>
	<fieldset name="debug" label="COM_CUSTOMFILTERS_DEBUG"
			  description="COM_CUSTOMFILTERS_DEBUG_DESC">
				<field name="debug_on"
					type="radio"
					default="0"
					label="COM_CUSTOMFILTERS_DEBUG_ON"
					description="COM_CUSTOMFILTERS_DEBUG_ON_DESC"
					class="btn-group btn-group-yesno"
					showon=""
					>
					<option value="1">JYES</option>
					<option value="0">JNO</option>
				</field>



	</fieldset>
	<fieldset name="liveupdate"
		label="COM_CUSTOMFILTERS_CONFIG_LIVEUPDATE_HEADER_LABEL" description="COM_CUSTOMFILTERS_CONFIG_LIVEUPDATE_HEADER_DESC">
		<field name="update_dlid" type="text" default="" size="30"
			label="CONFIG_DOWNLOADID_LABEL" description="CONFIG_DOWNLOADID_DESC" />
		<field name="displayphpwarning" type="radio" default="1"
			label="COM_CUSTOMFILTERS_CONFIG_LIVEUPDATE_DISPLAYPHPWARNING_LABEL"
			description="COM_CUSTOMFILTERS_CONFIG_LIVEUPDATE_DISPLAYPHPWARNING_DESC"
			class="btn-group">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox" validate="rules" filter="rules" component="com_customfilters"
			section="component" />
	</fieldset>

</config>
