@CHARSET "UTF-8";

@font-face {
    font-family: 'icons';
    src: url('../fonts/icomoon.eot') format('eot'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
}

.table {
    --checkbox-size: 1.8em;
    --display-type-drop-down-width: 200px;
}

#customfilterlist tr:hover > td {
    background-color: #e1e1e1;
}

/* Custom Checkboxes Styling */
.cfCheckboxGroup {
    margin-inline-start: calc(50% - var(--checkbox-size));
}

.cfCheckboxGroup input {
    order: 1;
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    clip: rect(1px, 1px, 1px, 1px);
}

.cfCheckboxGroup label {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    padding: 0;
    display: block;
    position: relative;
    text-align: center;
    color: #3C454C;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.cfCheckboxGroup input:not(:checked) + label:hover {
    background-color: #ececec;
    border: 1px solid #444;
}

.cfCheckboxGroup input:checked + label:hover {
    background-color: #275927;
}

.cfCheckboxGroup input:checked ~ label {
    background-color: #378137;
}

.cfCheckboxGroup input:checked ~ label::after {
    content: "";
    position: absolute;
    left: calc(var(--checkbox-size) / 3);
    top: calc(var(--checkbox-size) / 5.5);
    width: calc(var(--checkbox-size) / 5.7);
    height: calc(var(--checkbox-size) / 2.7);
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cfCheckboxGroup input:checked ~ label::after {
    display: block;
}

.displayTypesFilter {
    /* Set it as important because Joomla sets width inline */
    width: 200px !important;
}

.cfDisplayTypes {
    width: var(--display-type-drop-down-width)
}

/* Set a max height for the description field. It can ruin the view, if too long */
.cf-vm-customfield-desciption {
    max-height: 4em;
    overflow-y: auto;
}


.icon-48-custom_filters {
    background-image: url(../images/cf_logo_48.png);
}

.icon-custom_filters {
    background-image: url(../images/cf_logo_14.png);
}

#cf_info {
    text-align: left;
}

#cf_versioninfo {
    min-width: 130px;
    min-height: 10px;
}

#cfoutdated {
    color: #ff0000;
    font-weight: bold;
}

#cfupdated {
    color: #007236;
}

.cfversion_no {
    font-size: 1.2em;
    font-weight: bold;
}

#cfupdate_toolbar {
    display: none;
    margin-top: 15px;
}

.cf_update_btn {
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.order input {
    width: 80% !important;
}

.icon-32-optimize {
    background: url(../images/icon-32-optimize.png) top center no-repeat;
}

#cfOptimizerForm {
    text-align: center;
}

#cfOptimizerForm #cf_optimizebtn {
    padding: 10px;
    font-size: 1.3em;
}

#cfOptimizerForm #cf_optimizebtn:hover {
    background: #efefef;
    cursor: pointer;
}

#optimizer_results {
    margin: 0px auto;
    height: auto;
    width: 80%;
    text-align: center;
    padding: 10% 0;
}

.cf_log_wrapper {
    font-size: 1.3em;
}

.cf_log_wrapper .msg_precentage {
    font-size: 1.5em;
    color: green;
}

.cf_spinner {
    background: url(../images/spinner2.gif) center center no-repeat;
}

#cf_copyright_footer {
    margin-top: 5px;
}

#cf_jed {
    float: right;
}

/*Modal link*/
.cf_adv_settings {
    display: block;
}

/*General*/
.cfdisplay {
    display: block;
}

.cfhide {
    display: none !important;
}

[data-icon]:before {
    font-family: icons; /* BYO icon font, mapped smartly */
    content: attr(data-icon);
    speak: none; /* Not to be trusted, but hey. */
}
