
.fancybox-container.setting_filter_modal{
    & *{
        //box-sizing: content-box;
    }
    .fancybox-content {
        padding: 44px 6px 6px 6px;
        width: 80%;
        min-height: 450px;
    }
}

form#setting_filter{

    fieldset.form-horizontal{
        div.control-group{
            div.control-label{

            }
            div.controls{

            }
        }
    }

    div.buttons-bar{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    div.tab-content{
        height: 100%;
    }
    div.tab-pane{
        height: 100%;
    }
}